* {
    margin: 0;
    padding: 0;
    font-family: Arial sans-serif;
}

body {
    background-color: #e3e3e3;
}

main {
    display: flex;
    width: 490px;
    height: 278px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto 0;
    box-shadow: 10px 10px 10px #c9c9c9;
}

.header {
    width: 490px;
    margin: 70px auto 0;
    background-color: transparent;
}

.header__list {
    display: inline-block;
    list-style: none;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 10px;
}

.header__list--item {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px 15px;
    transition: background-color 0.4s, color 0.3s;
}

.header__list--item:hover {
    color: #ffffff;
    background-color: #0882b3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.avatar {
    margin: 15px 15px 20px 10px;
}

.avatar__img {
    width: 135px;
    margin: 0 auto;
    height: 170px;
    border-radius: 5px;
    border: none;
    background: url("img/index.jpg")  no-repeat center center / cover;
}

.avatar__button {
    display: inline-block;
    margin: 10px auto;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 15px;
    background: linear-gradient(to bottom, #e67f00, #e65400);;
    font-size: 14px;
}

.avatar__button:hover {
    background: linear-gradient(to top, #e67f00, #e65400);;
}

.content {
    width: 270px;
}

.content__name {
    margin-top: 20px;
}

.content__name--name {
    font-size: 25px;
}


.content__name--city {
    font-size: 12px;
    color: #747474;
}

.content__about {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.content__about--list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    margin: 30px 0;
}

.content__about--list:first-child,
.content__interest--header {
    font-weight: 900;
}

.content__about--list__item,
.content__interest--list__item {
    list-style: none;
}

.content__interest--header {
    font-size: 15px;
}

.content__interest--list {
    display: flex;
    margin-top: 10px;
}

.content__interest--list__item a {
    text-decoration: none;
    margin-right: 5px;
    color: #4c8cb8;
    padding: 5px 10px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    font-size: 13px;
    transition: color 0.3s, background-color 0.4s;
    font-weight: 600;
}

.content__interest--list__item a:hover {
    color: #000;
    background-color: #f3f3f3;
}

.wrapper main:last-child {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
}

.friends {
    display: flex;
    position: relative;
    margin: 15px;
    min-width: 190px;

}

.friends__avatar {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: url('img/1.jpeg') no-repeat center center / cover;
    margin-right: 20px;
}

.friends__authorization {
    position: absolute;
    top: 45px;
    left: 80px;
    color: #579d54;
    font-style: italic;
    font-size: 10px;
}

.friends__name a {
    color: #1675af;
    text-decoration: none;
    font-size: 15px;
    margin-top: 2px;
    border-bottom: 1px solid #1675af;
}

.friends__name p {
    display: block;
    margin-top: 4px;
    width: 110px;
    font-size: 11px;
    color: #373737;
    line-height: 10px;
}

#friends__2 {
    background: url('img/2.jpeg') no-repeat center center / cover;;
}

#friends__3 {
    background: url('img/3.jpeg') no-repeat center center / cover;;
}

#friends__4 {
    background: url('img/4.jpeg') no-repeat center center / cover;;
}

#friends__5 {
    background: url('img/5.jpeg') no-repeat center center / cover;;
}

#friends__6 {
    background: url('img/6.jpeg') no-repeat center center / cover;;
}

#friends__7 {
    background: url('img/7.jpeg') no-repeat center center / cover;;
}

#friends__8 {
    background: url('img/8.jpeg') no-repeat center center / cover;;
}